body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar-expand-lg {
  background-color: #673AB7 !important;
}

.navbar-brand {
  font-size: 1.3em;
  font-weight: 700;
}

.nav-link {
  font-size: 1.2em;
  font-weight: 600;
}

.googleBtn {
  background-color: #eee;
}

.googleBtn:hover {
  background-color: #fff;
}